.react-tel-input .flag-dropdown {
    padding: 7px;
    border: none;
    border-radius: 0;
}

.react-tel-input .form-control {
    border: none;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 15%;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-family: inherit;
    background: none;
}

hero-select input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    /* background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat; */
    width: 20px;
    height: 20px;
    border-width: thin;
    position: absolute;
    left: 30px;


}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.languageDropdown {
    background: none;
}

@media (max-width: 992px) {
    .languageDropdown {
        margin-top: 7px;
    }
}

.custom-select {}

.react-tel-input .country-list {
    text-align: left;
}

#selection>option {
    background-color: red;
}

.select_style__one {
    border-radius: 0;
}