.swiper-wrapper {
    transition-timing-function: linear;
}

.sw-slider {
    padding: 45px 50px;
    min-height: 150px;
    border: 1px solid rgb(226, 50, 50);
}

.accordion__item {
    background-color: white;
    margin: 10px;

}

.accordion {
    border: none !important;
}

[aria-expanded="false"] {
    -webkit-transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    -moz-transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    -ms-transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    -o-transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    max-height: 80px;
    display: block;
    overflow: hidden;
}

[aria-expanded="true"] {
    -webkit-transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    max-height: 200px;
}

.lg {
    background: linear - gradient(152.97deg, rgba(255, 255, 255, 0.36), rgba(255, 255, 255, 0.12))
}

.w-logo {
    height: 90px;
    width: auto;
}

.langImg {
    height: 20px;



}

@media (max-width: 992px) {
    .langImg {
        margin-left: 10px;
        margin-top: 7px;
    }

    .accordion__heading>div {
        font-size: 16px;
    }
}

@media(max-width:768px) {
    .sw-slider {
        min-height: 100px;
        padding: 20px;
    }

    .section-title-v1 {
        font-size: 25px;
    }

    .section-sub-title-v1 {
        font-size: 15px;
    }

    .react-tel-input .form-control {
        padding-left: 60px !important;
    }

    .w-logo {
        height: 60px;
        width: auto;
        margin-bottom: 3px;
    }

}

.nav-link {
    cursor: pointer;
}

.nav-link.nav-link-sm {
    font-family: var(--h-font-fam);
    /* font-size: 12px; */
}

.mobile-brand-name {
    font-size: 18px;
    font-weight: 700;
    color: #2552c0;
}

.ptImages {
    height: 300px;
    object-fit: cover;
}

.footerInput>input.form-control {
    padding-left: 20%;
}

.mobil-menu.mm-active {
    /* background-color: blue; */

    width: 100vw;
    margin-left: -12px;
}

.text-primary-1 {
    font-family: var(--sub-h-font-fam);
}

.text-dark-1 {
    font-family: var(--h-font-fam);
}

img.brand-footer {
    height: 90px;
}

.rdrCalendarWrapper {
    color: #000000;
    font-size: 12px;
    position: absolute;
    z-index: 10;
    left: 0px;
    width: 100%;
}

.rdrMonth {
    width: 100%;
}

@media(max-width:768px) {
    .rdrCalendarWrapper {
        left: -54px;
        width: 100vw;
    }
}

.errorMsgSpan {
    color: red;
    font-size: 15px;
    font-family: var(--h-font-fam);
}