.swiper-wrapper {
    transition-timing-function: linear;
}

.sw-slider {
    padding: 45px 50px;
    min-height: 150px;
    border: 1px solid rgb(226, 50, 50);
}

.accordion__item {
    background-color: white;
    margin: 10px;

}

.accordion {
    border: none !important;
}

[aria-expanded="false"] {
    -webkit-transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    -moz-transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    -ms-transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    -o-transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    transition: max-height 0.8s, opacity 0.2s 0.1s, visibility 0s 4s;
    max-height: 80px;
    display: block;
    overflow: hidden;
}

[aria-expanded="true"] {
    -webkit-transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    transition: max-height 0.8s, opacity 0.2s, visibility 0s;
    max-height: 200px;
}

.lg {
    background: linear - gradient(152.97deg, rgba(255, 255, 255, 0.36), rgba(255, 255, 255, 0.12))
}

.w-logo {
    height: 90px;
    width: auto;
}

.langImg {
    height: 20px;



}

@media (max-width: 992px) {
    .langImg {
        margin-left: 10px;
        margin-top: 7px;
    }
}

.ptImages {
    height: 300px;
    object-fit: cover;
}

.footerInput>input.form-control {
    padding-left: 20%;
}